.portfolio {
  overflow: hidden;
}

.project-card-img {
  height: 70vh;
  overflow: hidden;
}
.project img {
}
.project-card:hover {
  box-shadow: 2px 2px 5px lightgray;
}
.project-card:hover img {
  animation: img-transform 4s ease forwards;
}
@keyframes img-transform {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
